$colors: (
  accent: (
    100: hsl(22, 31%, 100%),
    200: hsl(22, 31%, 90%),
    300: hsl(22, 31%, 80%),
    400: hsl(22, 31%, 70%),
    500: hsl(22, 31%, 60%),
    600: hsl(22, 31%, 50%),
    700: hsl(22, 31%, 40%),
    800: hsl(22, 31%, 30%),
    900: hsl(22, 31%, 20%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    150: hsl(0, 0%, 96%),
    200: hsl(0, 0%, 92%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 60%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 20%),
    900: hsl(0, 0%, 0%),
  ),
);

$fonts: (
  100: 0.75rem,
  200: 0.875rem,
  300: 0.9375rem,
  400: 1rem,
  500: 1.125rem,
  600: 1.25rem,
  700: 1.5rem,
  750: 1.75rem,
  800: 2rem,
  850: 2.25rem,
  900: 2.5rem,
  950: 3rem,
);
